<template>
  <div class="about">
    <v-card
      class="mx-auto"
      prepend-icon="mdi-information-variant"
      style="margin-top: 80px"
      width="400"
    >
      <template v-slot:title>About</template>
      <v-card-text>This is an about page</v-card-text>
    </v-card>
  </div>
</template>
