<template>
  <div class="home">

    <v-card class="mx-auto" prepend-icon="mdi-home" style="margin-top:80px" width="400">
      <template v-slot:title>Home</template>
      <v-card-text>This is an Home page</v-card-text>
    </v-card>

  </div>
</template>
