<script setup>
import { computed } from 'vue'
import { useSettingsStore } from '../stores/settings.js'
const settingsStore = useSettingsStore()

const mySettingsItems = {
  theme: [
    { icon: 'mdi-white-balance-sunny', value: 'light', title: 'Light' },
    { icon: 'mdi-moon-waxing-crescent', value: 'dark', title: 'Dark' }
  ]
}

const subtitleTheme = computed(() => {
  return mySettingsItems.theme.find((t) => t.value === settingsStore.theme).title
})
</script>

<template>
  <v-card class="mx-auto">
    <v-list lines="two">
      <v-list-subheader>General settings</v-list-subheader>

      <v-list-item
        prepend-icon="mdi-brightness-6"
        title="Theme"
        :subtitle="subtitleTheme"
        :value="subtitleTheme"
      >
        <v-menu activator="parent">
          <v-list>
            <v-list-item
              v-for="(item, i) in mySettingsItems.theme"
              :key="i"
              :value="item.value"
              :prepend-icon="item.icon"
              :title="item.title"
              @click="settingsStore.setTheme(item.value)"
            ></v-list-item>
          </v-list>
        </v-menu>
      </v-list-item>
    </v-list>
  </v-card>
</template>
