<script setup>
import { RouterView } from 'vue-router'
import { ref } from 'vue'
import { useSettingsStore } from './stores/settings.js'
const drawer = ref(null)

const settingsStore = useSettingsStore()
settingsStore.setTheme(settingsStore.theme)
</script>

<template>
  <v-app>
    <v-navigation-drawer v-model="drawer">
      <nav>
        <v-list-item title="My Application" subtitle="Vuetify"></v-list-item>
        <v-divider></v-divider>
      </nav>
      <v-list density="compact" nav>
        <v-list-item prepend-icon="mdi-home" title="Home" value="/" to="/"></v-list-item>
        <v-list-item
          prepend-icon="mdi-tune"
          title="Settings"
          value="/settings"
          to="/settings"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-information-variant"
          title="About"
          value="/about"
          to="/about"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-app-bar-title>Application</v-app-bar-title>
    </v-app-bar>

    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>
